@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;;
    line-height: 1.65;
    scrollbar-width: thin;
    scrollbar-color: #E00A4A;
}

html, body, main, div.app{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    background-color: #ddd;
    width: .3rem;
    height: .4rem;
}

*::-webkit-scrollbar-thumb {
    background: #E00A4A;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-height: 100%;
}

hr{
    margin-top: 1rem;
    border: 1px solid rgba(224, 10, 74, 0.09);
}

div.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 100vh;
    justify-content: center;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, .5);
    padding: 0 3rem;
    background-image: url(./imgs/backimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 1px solid #d8bdc1;
}

div.main h1{
    font-size: 3rem;
    margin-bottom: 1.8rem;
    color: #1a1a1a;
}

div.main h1, div.main h3{
    /* text-align: center; */
} 

div.about{
    max-width: 1300px;
    margin-bottom: 1.25rem;
    padding: 2rem;
}

p.topic{
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: .25rem;
    font-weight: 900;
    color: #1b1b1b;
}

p.topic i {
    color: #E00A4A;
}

p.explic{
    font-size: 120%;
    padding-top: 1.5rem;
    text-align: justify;
}

li.subli{
    margin-left: 1.5rem;
    list-style: circle;
}


li.baseli{
    list-style: disc;
    font-weight: 600;
    margin-top: .75rem;
}

a{
    color: #E00A4A;
    text-decoration: none;
    font-weight: 600;
}

a.underDark{
    text-decoration: underline;
    text-decoration-color: #E00A4A;
    color: #000;
}

img.imgc, img.imgs{
    margin-left: 7.5%;
    width: 85%;
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, .5);
    border-radius: 8px;
}

img.imgs{
    min-width: 85%;
}

div.accords{
    display: flex;
    flex-direction: column;
}

div.menuhero{
    width: 100%;
    line-height: 4rem;
    background-color: rgba(255, 255, 255, .7);
    backdrop-filter: blur(20px) saturate(180%);
    position: sticky;
    top: 0;
    z-index: 100
}

div.menuhero::after{
    content: '';
    width: 100%;
    display: block;
    bottom: 0;
    height: 1px;
    background: rgba(0, 0, 0, .1);
}

div.menuhero ul {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

div.menuhero ul li {
    /* flex-grow: 1; */
    list-style: none;
    font-size: 105%;
    font-weight: 600;
    cursor: pointer;
    margin: 0 1.25rem;
    transition: 0.3s ease-in-out;
    /* height: 100%; */
    /* line-height: 4rem; */
    text-align: center;
}

div.menuhero ul li.turnleft{
    margin-right: auto;
}

div.menuhero ul li.myname{
    font-size: 135%;
}

div.menuhero ul li.active{
    color: #E00A4A;
    box-shadow: inset 0 -2.5px 0 -1px #E00A4A;
}

div.accordItem{
    display: block;
    overflow: hidden;
    transition: .6S ease-in-out;
    max-height: 0;
    padding-left: 2rem;
}

div.accordItem.active{
    max-height: 1000rem;
}

div.accordItem.indel{
    display: block;
    opacity: 0;
}

div.accordItem.inopen{
    display: block;
}

button.accord i{
    line-height: 1.5 !important;
}

button.accord{
    cursor: pointer;
    background: none;
    border: 2px solid transparent;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    background: #FFFDFF;
    border-left: 2px solid #fcbbc8;
    transition: 0.3s ease-in-out;
}

button.accord.halfboard{
    border: 2px solid #ed6681;
    animation: 1s halfboard;
    border-radius: .5rem;
    margin-top: .25rem;
}

div.workflow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.75rem;
}

div.workflow p a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #1f1f1f;
    transition: .3s ease-in-out;
}

div.workflow p a:hover{
    color: #E00A4A;
}


div.workflow p a i {
    font-size: 3rem;
    margin-bottom: .75rem;
}

div.slide{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    padding: .5rem;
    scrollbar-color: #E00A4A;
    scrollbar-width: thin;
}

div.hopeproject{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 0;
    position: relative;
    opacity: 0;
    padding: 1rem;
    transition: .5s ease;
    top: 5rem;
    /* border: 1px solid #d8bdc1; */
    box-shadow: 0px 0px 10px -5px rgb(89, 89, 89);
    border-radius: 12px;
    /* background-color: red; */
}

div.hopeproject h3{
    margin: 1rem 0;
    font-size: 150%;
}

div.hopeproject div.badges{
    padding: .5rem 0;
    padding-top: 2rem;
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

div.hopeproject div.badges div.badge{
    font-size: 85%;
    padding: 0 .5rem;
    margin: .25rem;
    border: 1px solid #E00A4A;
    color: #E00A4A;
    font-weight: 600;
    border-radius: 10rem;
}

div.hopeproject.view{
    opacity: 1;
    top: 0;
}

/* div.hopeproject::after{
    content: '';
    width: 100%;
    height: 1px;
    background: #efefef;
    display: block;
    position: absolute;
    bottom: -1rem;
} */

div.hopeproject img.tophigh{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    background: white;
    padding: .25rem;
    box-shadow: 1px 1px 5px -1px rgba(0,0,0,.2);
    /* margin-right: .5rem; */
}

div.hopeproject p.explic{
    padding-top: 0;
    font-size: 125%;
    line-height: 2;
    max-width: 80%;
    text-align: center;
}

span.pointer{
    width: 3px;
    height: 18px;
    display: block;
    margin-left: .25rem;
    animation: blink 1s infinite;
}

h3.phasePointer{
    display: flex;
    align-items: center;
}

div.blocks-grids{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .75rem;
}

@keyframes blink{
    50%{
        background: black;
    }
    100%{
        background: none;
    }
}

@keyframes halfboard{
    0%{
        border: 2px solid transparent;
        border-left: 2px solid #ed6681;
        border-radius: 0;
    }

    25%{
        border: 2px solid transparent;
        border-left: 2px solid #ed6681;
        border-bottom: 2px solid #ed6681;
    }

    50%{
        border: 2px solid transparent;
        border-left: 2px solid #ed6681;
        border-bottom: 2px solid #ed6681;
        border-right: 2px solid #ed6681;
    }

    75%{
        border: 2px solid #ed6681;
        border-radius: .5rem;
    }
}

@keyframes showHeight {
    from {
        opacity: 0
    }

    to{
        opacity: 1;
    }
}


@keyframes hideHeight {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}

@media only screen and (max-width: 940px){
    div.blocks-grids{
        grid-template-columns: 1fr !important;
    }

    div.main h1{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 800px){
    div.main{
        background-position: 30%;
    }
}


@media only screen and (max-width: 669px){
    div.hopeproject{
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
    }
    
    div.hopeproject img.tophigh{
        width: 5rem !important;
        height: 5rem !important;
        margin-bottom: .5rem;
    }
}

@media only screen and (max-width: 480px){
    div.menuhero ul li span{
        display: none;
    }

    div.main{
        background-position: 90%;
    }

    div.main h1{
        color: rgb(228, 228, 228);
        font-size: 2.5rem;
        background-position: 75%;
    }

    div.main h3{
        color: rgb(228, 228, 228);
        font-size: 1.5rem;
    }
}