@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
    line-height: 1.5;
}

html, body, main, div.app{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    box-shadow: 2px 0px 6px rgba(0, 0, 0, .5);
    padding: 11rem 1rem;
    background-image: url(./imgs/back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

div.main h1{
    margin-bottom: 1.8rem;
    color: #1a1a1a;
}

div.main h1, div.main h3{
    text-align: center;
} 

div.about{
    max-width: 1024px;
    margin-bottom: 1.25rem;
    padding: 2rem;
}

p.topic{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
    font-weight: 900;
    color: #e7002a;
}

p.explic{
    font-size: 115%;
    padding-top: .75rem;
}

li.subli{
    margin-left: 1.5rem;
    list-style: circle;
}


li.baseli{
    list-style: disc;
    font-weight: 600;
    margin-top: .75rem;
}

a{
    color: #e7002a;
    text-decoration: none;
    font-weight: 600;
}



a.underDark{
    text-decoration: underline;
    text-decoration-color: #e7002a;
    color: #000;
}

img.imgc{
    margin-left: 10%;
    width: 80%;
}

div.accords{
    display: flex;
    flex-direction: column;
}

div.accordItem{
    display: none;
    opacity: 0;
    overflow: hidden;
    transition: 0.3S ease-in-out;
}

div.accordItem.active{
    display: block;
    opacity: 1;
}

div.accordItem.indel{
    display: block;
    opacity: 0;
}

div.accordItem.inopen{
    display: block;
}

button.accord{
    background: none;
    border: none;
    padding: .5rem 1rem;
    border-bottom: 1px solid #e7002a;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.workflow{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.75rem;
}

div.workflow p a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #1f1f1f;
    transition: .3s ease-in-out;
}

div.workflow p a:hover{
    color: #e7002a;
}


div.workflow p a i {
    font-size: 3rem;
    margin-bottom: .75rem;
}

@keyframes showHeight {
    from {
        opacity: 0
    }

    to{
        opacity: 1;
    }
}


@keyframes hideHeight {
    from {
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}