@use "./theme.scss" as *;
@use "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: $background-color;
  color: white;
}

.red-text {
  color: $primary-color;
}
