@use '../../app/theme' as *;
@use './Contact.responsive';

.red-container {
  position: absolute;
  height: 100vh;
  bottom: 0 !important;

  svg {
    height: 100vh;
    width: 100vw;
    left: 50%;
    position: absolute;
    bottom: 0 !important;
  }
}

.contact-base {
  img.bike {
    position: absolute;
    right: -10%;
    top: 50%;
    width: 80vh;
    opacity: 0.6;
    user-select: none;
    pointer-events: none;
    transform: translateY(-50%) rotate(-90deg);
    z-index: 1;
  }
}

.contact {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 2;

  .title {
    width: 8rem;
    height: 100vh;
    position: absolute;
    bottom: 0;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    transform: rotate(180deg);
    overflow: hidden;

    h1 {
      user-select: none;
      margin-top: 100px;
      color: #101010;
      white-space: nowrap;
      font-size: 8.5rem;
      line-height: 8rem;
      text-align: center;
      letter-spacing: -5;
    }
  }

  .content {
    width: 100%;
    margin-left: 15rem;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    justify-content: center !important;
    align-items: start !important;
    gap: 2rem;

    header {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      text-align: center;
      position: relative;
    }

    h2 {
      font-size: 72px;
      color: #fff;
      letter-spacing: -5;

      span {
        background-color: $primary-color;
      }
    }

    p.contact-description {
      font-size: 28px;
      color: #bdbdbd;
      text-align: center;
      line-height: 1.75;
      letter-spacing: -1;
      margin-top: 2rem;
    }

    .talks {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      span {
        transition: all 0.3s ease-in-out;
        letter-spacing: -1;
        filter: drop-shadow(0px 0px 0px $primary-color);
      }

      .talk {
        font-size: 28px;
        color: #fff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        gap: 2rem;
        transition: all 0.3s ease-in-out;
        width: min-content;
        margin-bottom: 5rem;

        svg {
          width: 5.5rem;
          height: 5.5rem;
          transition: all 0.3s ease-in-out;
          filter: drop-shadow(0px 0px 0px $primary-color);
          background-color: rgba(219, 24, 31, 0.2);
          padding: .75rem;
          border-radius: 1rem;
        }

        &:hover {
          transform: skewX(-5deg) scale(1.05);

          svg {
            filter: drop-shadow(10px 10px 0px $primary-color);
          }
        }
      }
    }
  }
}
