@use "../../app/theme.scss" as *;

.marquee-bar {
    display: flex;
    padding-left: 2rem;
    gap: 1rem;
    width: max-content;
    animation: move-text 15s linear infinite reverse;
    border: 4px solid $primary-color;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: $secondary-background-color;

    &.forwards {
        animation: move-text 20s linear infinite forwards;
    }

    p {
        font-size: 2rem;
        color: $third-color;
        font-weight: 500;
    }
}

@keyframes move-text {
    to {
        transform: translateX(-50%);
    }
}