@use './Japan.responsive';

.japan {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;

    svg {
        position: absolute;
        width: 95% !important;
        height: 95% !important;

        &:nth-child(1) {
            z-index: 2;
        }

        &:nth-child(3) {
            margin-left: 10px;
            margin-top: 10px;
            z-index: 1;
        }
    }
}

.japan-svg-mobile {
  display: none;
}
