div.container {
    width: 100vw;
    padding: 5em;

    section.container__section {
        width: 100%;
        min-height: 80vh;

        h2 {
            font-size: 5rem;
            font-weight: 100;
            margin-bottom: 4rem;
        }

        h3 {
            font-size: 2.5rem;
            font-weight: 100;
            margin-bottom: 4rem;

            span.sub {
                font-size: 1.2rem;
                font-weight: 100;
                color: $gray_text;
            }
        }

        p {
            width: 100%;
            font-size: 1.7rem;
            font-weight: 100;
            margin-bottom: 4rem;
            word-wrap: break-word;
        }

        div.know__items, div.langs__items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;

            div.know__item, div.lang__item {
                cursor: pointer;
                background: $bg_color_light;
                height: 20rem;
                border-radius: 1rem;
                padding: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                transition: 0.3s ease-in-out;

                &.active {
                    background: $primary_color;

                    img {
                        filter: invert(80%);
                    }

                    p {
                        color: black;
                        font-weight: 400;
                    }
                }

                p {
                    margin-bottom: 0;
                    color: $secondary_color;
                    font-size: 1.5rem;
                    font-weight: 300;
                    margin-top: 2rem;
                    transition: 0.3s ease-in-out;
                    line-height: 1;

                    span {
                        font-size: 1.2rem;
                        color: $gray_text;
                    }
                }

                img {
                    transition: 0.3s ease-in-out;
                }
            }
        }

        div.langs__items {
            grid-template-columns: repeat(6, 1fr);

            div.lang__item {
                &.active {
                    img {
                        filter: grayscale(1) invert(100%);
                    }
                }
            }
        }
    }
}