@use '../../app/theme' as *;
@use './Banner.responsive';

.banner {
  width: 100vw;
  height: 100vh;

  .interpolate {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      font-size: 200px;
      font-weight: bold;
      letter-spacing: -8px;

      &.japanese {
        margin-top: -3rem;
        font-size: 180px;
        position: absolute;
        color: $primary-color;
        white-space: nowrap;
      }
    }
  }

  p.sub {
    color: $secondary-body-color;
    margin-top: -4rem;
    font-size: 32px;
    letter-spacing: 8px;
  }

  .badges {
    position: absolute;
    left: 3rem;
    bottom: 9rem;

    .badge {
      font-size: 48;
      color: #000;
      white-space: nowrap;
      z-index: 1;
      padding: .5rem 1rem;
      border: 5px solid #000;
      border-radius: 1rem;

      &:nth-child(2) {
        color: $primary-color;
        margin-left: 4px;
        margin-top: 5px;
        z-index: 0;
        border-color: $primary-color;
      }
    }
  }
}
